@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f1f5f7;
}

header, nav, main, footer {
    margin: 1rem auto; /* if probs change 1 rem to 0 auto;*/
    max-width: 760px;
}

header, footer {
    background-color: #36768e;
    text-align: center;
    border: 1px solid #024059;
    border-radius: 10px;
}

header {
    height: 100px; 
}

main {
    padding:25px;
    max-width: 740px;
    
}

img {
    float: right;
    margin: 10px;
    border: 1px solid #024059;
    border-radius: 10px;    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Open Sans', sans-serif;
    color: #024059;
    margin: 0;
}

h1 {
    font-size: 2.75em;
    padding: 0;
    margin-top: 20px;
}

h2 {
    font-size: 1.75em;
    margin: 0;   
}

ul li a:link {
    color: #f6f4b2;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color:  darkgoldenrod;
}
ul li a:active {
    color: khaki;
}

a:link {
    color: #f6f4b2;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color:  darkgoldenrod;
}
a:active {
    color: khaki;
}

hr {
    background-color: #024059;
    height: 1px; 
    border: 0;
    padding: 0px;
    margin: 0px;
}

footer {
    padding: 5px;
    height: 60px;
    font-size: 14px;
    line-height: 5px;
    color: #f1f5f7;
}
#copyright {
    color:#f1f5f7;
    font-size: 14px;
}
#currentDate {
    color: #c0d1d9;
}


