@media only screen and (min-width: 56em) {

        heading h2 {
                font-size: 1.5rem;
        }

        .navigation a {
                font-size: 1rem;
                padding: 0.75rem;
        }

        .galleryimages {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-content: center;
            }
            
        .row1,
        .row2 {
                margin: 5px 0 0;
                text-align: center;
        }

        .stats h4 {
                grid-column: span 2;
        }

        .rowimage3 {
                max-width: 960px;

        }

        .row4content {
                font-size: 1em;
        }

        article img {
                display: block;
        }
}