@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700&display=swap');

/*  Requirements Use the thead, tbody, and tfoot tags in your table structure.  The font-family is Ubuntu, sans-serif.  The color scheme includes #e7f0ed sea foam green,  #e7ffed (data rows) similar seafoam green and #628ca6 darker blue, #7fb9c2 lighter blue-green along with standard white and black. Dark gray #a9a9a9. Use a maximum of one class or id selector. Use one instance of the first-child or nth:child() pseudo classes.  Ensure that your HTML and CSS documents are valid.  Get as close as possible to the displayed design and structure for full credit.  */


* {
    box-sizing: border-box;
    line-height: 1.1em;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    background-color: #f1f5f7;
    color: #000;
}



/*Order of the above items three items is very important*/

header,
nav,
main,
footer {
    margin: 0 auto; /*0 auto; this centers the page*/
}

header,
footer {
    background-color: #628ca6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}



main {
    padding: 20px;
    max-width: 967px;
    margin: auto;
}

main h2 {
    color: #2364aa;
    padding: 20px 0;
}



table {
    background-color: #a1a1a1;
    width: 42.5%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 10px 10px 15px rgba(98, 140, 166, .9);
}

caption {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    background-color: #7fb9c2;
    padding: 10px;
    box-shadow: 10px 10px 15px rgba(98, 140, 166, .9);
}
table tbody {
    padding: 10px;
    border: 1px solid #777;
}

table thead tr th{
    color: #fff;
    background-color:#628ca6;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}

.samestyle {
    color: #fff;
    background-color:#628ca6;
    font-size: 1.5em;
    padding: 10px;
}

table tr {
    background-color: #e7ffed;
}

table tr:nth-child(odd) {
    background-color:#e7f0ed;
}

/*table tr:nth-child(even) {
    background-color:#e7ffed;
}

/*table tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: #fff;
}*/

table tr td {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;

}


tfoot tr th  {
color: #000;
background-color:#7fb9c2;
font-size: 18px;
padding: 10px;
}  



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    display: block;
    font-size: 1.25rem;
    color: #fff;;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    /*height: 7vh;*/
}

h2 {
    font-size: 1.25rem;
    color: #184676;;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: #2364aa;
}


footer {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    color: #f1f5f7;
}

footer p {
    margin: 0;
}

body footer p:nth-child(1) {
    margin-top: 15px;
}

body footer p:nth-child(2) {
    margin-bottom: 15px;
}

#copyright {
    color: #f1f5f7;
    font-size: 14px;
}

#currentDate {
    color:#f1f5f7;
}
