@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/* yellow #f3f315 (243,242,21); dk blue #2364aa(35,100,70); med blue #3da5d9(61,165,217); aqua blue #73bfb8(115,191,184); orange #ea7317(234,115,23); */

/* {
    border: 1px solid red !important; /* demo for Box Model Presentation 
 }*/

* {
    box-sizing: border-box;
    line-height: 1.1em;
}

 body {
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f1f5f7;
    color: #000;
}

header,
nav,
main,
footer {
    margin: 0 auto;     /*0 auto; this centers the page*/
}

header,
footer {
    background-color: #3da5d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    border: 1px solid #000;

}

.header-wrapper, .title {
    flex-direction: row;
    align-items: center;
    max-width: 767px;

}

.header-titles {
    display: block;
}

header {
    font-family: "Roboto Slab", sans-serif;
    padding-top: 20px;
}

header img{
    max-width: 75px;
    height: auto;
}

/*header h1{
    display: inline;
}*/

header h2 {
   /* padding: 10px 0 20px; */ /* change this after moving the logo??? */
    text-shadow: 2px 2px 2px #fff;
}


nav {
    margin: 0 auto;
    background-color: #2364aa;
    text-align: center;
    border: 1px solid #000;
    /* border-radius: 0 0 10px 10px; */
    /*  text-align: center; not needed */
    /* box-shadow: 0 2px 15px gray;*/
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    flex: 1 1 100%;
    color: #f3f315;
    list-style-type: none;

}

/*header {height: 100px;} */
/* removing this worked to allow the page elements to nest under each other properly! */

nav ul li a {
    display: block;
    /*padding: 0.75rem;*/
    text-decoration: none;
    font-size: 1rem;
    /*border-radius: 10px;*/
}

.navigation{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: .2rem auto;
    max-width: 767px;
    
}

.navigation li:first-child {
    display: block;

}

.navigation li{
    display: none;

}

.navigation a {
    display: block;
    padding: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: none;

}

.navigation a:hover {
    color: #f3f315;
    background-color: #3da5d9;
    font-weight: bold;
}

.responsive li{
    display: block;
}

.active {
    background-color: #3da5d9;
    color: #000;
}

main {
    /*display: block;   */
    font-size: 0.8rem;
    padding: 10px 0;
    height: 100%;
}

main h2 { 
    color: #2364aa;
}


article {
    margin: 5px auto;
    padding: 10px;
    max-width: 1020px;
    height: 100%;
    border: 2px dotted #3da5d9;
    align-content: center;
    font-style: italic;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    display: block;
    font-size: 1.5rem;
    color: #2364aa;
    text-shadow: 2px 2px 4px #fff;
    /*height: 7vh;*/
}

h2 {
    font-size: 1.25rem;
    color: #2364aa;
    padding: 50px 0;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: #2364aa;
}

ul li a:link {
    color: #fff;
    text-decoration: none;
}

ul li a:visited {
    color: #fff;
}

ul li a:hover {
    background-color:  #3da5d9;
    color: #f3f315;
    /*border-radius: 10px;*/
}

/*     :active li a:active {
    background-color:  #3da5d9;
    color: rgba(234,115,23, .7);
    /*border-radius: 10px;
}
*/
a:link {
    text-decoration: none;
}

footer {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    /*height: 60px; removing this worked to allow the page elements to nest under each other properly! */
    font-size: 14px;
    text-align: center;
    
}

footer p{
    margin: 0;
}

body footer p:nth-child(1) {
    margin-top: 15px;
}

body footer p:nth-child(2) {
    margin-bottom: 15px;
}

#copyright {
    color: #f1f5f7;
    font-size: 14px;
}

#currentDate {
    color: #f1f5f7;
}

