@media only screen and (min-width: 32.5em) {

    /*  causing header to not center when switching from small to medium. Also 520px = 32.5em based on 16px size*/
    

    header,
    nav,
    main,
    footer {
        min-width: 32.5em;
    }

    header {
        border-radius: 10px 10px 0px 0px;
    }

    header img{
        min-width: 100px;
    }

    main {
        font-size: 1em;
    }
    footer {
        border-radius: 0 0 10px 10px;
    }

    nav {
        border-radius: 0 0 10px 10px;
    }

    nav ul {
        flex-direction: row;
    }
  
    nav ul li a {
        white-space: nowrap;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        border-radius: 10px;

    }


    .rowimage {
        width: 70%;
    }

    article:nth-child(2) {
        display: block;
    }

    /*article:nth-child(3){
    
}*/

.herodiv {
    margin: 10px auto;
    position: relative;
}

.stats {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 27%;
    min-width: 105px;
}

.stats h4 {
    grid-column: span 2;
    }

.row2 {
    display: block;
}

main h2 {
    margin: 10px;
}
 /*   main img {
        display: block;
    }
*/

th, td {
    border: 1px solid black;
  }

  th{
      background-color: #3da5d9;
  }

    h1 {
        font-size: 1.75rem;
        white-space: nowrap;
       /* padding: 20px 0 10px;*/
    }

    h2 {
        font-size: 1.50rem;
        white-space: nowrap;
    }

    h3 {
        font-size: 1.25rem;
    }

}