@media only screen and (min-width: 32.5em) {

    /*    520px = 32.5em based on 16px size     */

    header,
    nav,
    main,
    footer {
        min-width: 32.5em;
    }

    header img {
        min-width: 100px;
    }

    main {
        font-size: 1em;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li a {
        white-space: nowrap;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
    }

    /*     Home Page Styling     */
    
    .templeAttendingActivityPhotos {
        grid-template-columns: 1fr 1fr;
    }

    .brighamTemple img {
        width: 100%;
    }
    /*     Reservation Page     */

    main .thanksmessage {
        font-size: 1rem;
    }

/*     Temples Page     */ 

    section.statsbrighamcity,
    section.statsogden,
    section.statsprovocityctr,
    section.statspayson {
        float: right;
        font-size: 1rem;
        width: 250px;
    }

    .services img {
        margin: 0 auto;
        width: 50%;
    }

    .temples p {
        margin: 0;
        padding: 0;
        text-indent: 2.5em;
    }
    

    /*     Reception Page     */
    article p .reception1 {
        text-align: center;
    }


    /*     Missionary Page     */
    .suites img {
        width: 50%;
    }

    main h2 {
        margin: 10px;
    }

    h1 {
        font-size: 1.75rem;
        /* white-space: nowrap;  removed 12/17   */
    }

    h2 {
        font-size: 1.50rem;
        white-space: nowrap;
    }

    h3 {
        font-size: 1.25rem;
    }

}